services:
  goofishcbot:
    build:
      context: .
      dockerfile: Dockerfile.prod
    container_name: goofishcbot
    environment:
      NODE_ENV: production
      HOST: 0.0.0.0
      PORT: 3000
    ports:
      - "3000:3000"
    volumes:
      - ./data:/app/data
      - ./logs:/app/logs
    restart: unless-stopped